// Fonts

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

$headingFont: 'Cutive Mono', monospace;
$mainFont: 'Cutive Mono', monospace;
$codeFont: 'Cutive Mono', monospace;

$theme-black: #3D3C42;
$theme-green: #00FF00;

$code-block-font-size: 22px;

$body-bg: $theme-black;
$body-color: $theme-green;
$link-color: lighten($theme-black, 50%);

.center-h {
  text-align: center;
}