// Fonts

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

$headingFont: 'Cutive Mono', monospace;
$mainFont: 'Cutive Mono', monospace;
$codeFont: 'Cutive Mono', monospace;

$theme-black: #3D3C42;
$theme-green: #00FF00;

$code-block-font-size: 27px;

$body-bg: $theme-black;
$body-color: $theme-green;
$link-color: lighten($theme-black, 70%);

.center-h {
  text-align: center;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.panel-tabset {
  font-size: 20px;
}
